@model MyBlog.Entities.Concrete.BlogUser

@{
    ViewData["Title"] = "Kullanıcı Güncelle";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">

            <h1>Edit</h1>

            <h4>BlogUser</h4>
            <hr />
            <div class="row">
                <div>
                    <form asp-action="Edit">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Surname" class="control-label"></label>
                            <input asp-for="Surname" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                            </label>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="CreatedDate" />
                        <input type="hidden" asp-for="ActivateGuid" />
                        <input type="hidden" asp-for="UserProfileImage" />
                        <input type="hidden" asp-for="ModifiedDate" />
                        <input type="hidden" asp-for="ModifiedUserName" />
                        <div class="form-group">
                            <input type="submit" value="Kaydet" class="btn btn-primary btn-sm" />
                            <a asp-action="Index" class="btn btn-primary btn-sm">Tüm Kullanıcılar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>